{% extends 'base.html.twig' %}

{% block title %}Gestion d'individus{% endblock %}


{% block body %}

  
    {% for duree in durees %}
        <p>{{duree.module.intitule}}{{duree.nbJours}}</p>
    {% endfor %}



{% endblock %}
