{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

{% for module in session.composer.modules %}
    <p>{{module.intitule}}</p>  

{% endfor %}

{% endblock %}