{% extends 'base.html.twig' %}

{% block title %}Gestion d'individus{% endblock %}


{% block body %}

{% for composer in session.composer %}
<p>{{ composer.categorie.intitule }}</p> 
{% endfor %}

{% endblock %}
