{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

{% for stagiaire in session.stagiaires %}
<p>{{ stagiaire.prenom }}</p> 
{% endfor %}


{% endblock %}