:root {
    --main-color: #FFAA3F;
    --main-secondary: #FFF9F2;
    --main-tertiary: #F4CD9A;
    --alert: rgba(223, 144, 144, 0.589);
}

.uk-link, a.uk-button, a:link, a:visited {
    color: var(--main-secondary);
}

.uk-link:hover, a:hover {
    color: var(--main-color);
    text-decoration: none;
}

.uk-width-1-6, th.uk-width-1-6 {
    text-align: center;
}

.uk-button {
    background-color: var(--main-color);
    color: var(--main-secondary);
}

.uk-table thead, .uk-table thead th {
    background-color: var(--main-color);
    color: var(--main-secondary);
}

a i {
    color: var(--main-color)
}

body {
    height: 100vh;
}

#wrapper-main {
    width: 80%;
    margin: 0 auto 0 auto;
}

#wrapper-main-home {
    width: 80%;
    margin: 10vh auto 10vh auto;
    vertical-align: middle;
}

.flash-notice {
    width: 50%;
    padding: 0.5em;
    margin: 1em auto 0 auto;
    background-color: var(--alert);
    border: 1px solid var(--alert);
    border-radius: 0.5em;
    text-align: center;
}

.center-it{
    margin: inherit auto inherit auto;
}

/* ------------------------Navbar CSS------------------------ */

#hero img {
    max-height: 10em;
    object-fit: cover;
    margin: 0.5em 0 0.5em 1em
}

.uk-navbar-nav a {
    color: #999;
}

.uk-navbar-nav .uk-button {
    min-height: 0;
    color: var(--main-secondary);
}

/* ------------------------Personnes CSS------------------------ */

.uk-card {
    color: var(--main-color);
    font-weight: bold;
}

#personne-detail-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#personne-detail-box>h3 {
    margin: 0.5em 0 0.5em 0;
}

#personne-detail-header h3 {
    margin: 0.5em 1em 0.5em 1em;
    color: var(--main-color);
}

.mod-tool {
    font-size: 1.6em;
}

dt {
    display: inline;
    font-weight: bold;
    color: var(--main-color);
}

dd {
    display: inline;
}

/* ------------------------Formations CSS------------------------ */

.session-detail-cate {
    background-color: var(--main-tertiary);
    text-align: center;
}

#stagiaire_session_stagiaire label:after, #module_categorie_module label:after, #formateur_categorie_formateur label:after{
    content:"\a";
    white-space: pre;
}

.disabled {
    color: rgba(177, 177, 177, 0.4);
}

/* ------------------------Responsive Navbar------------------------ */

@media screen and (max-width: 1170px)
{
    .uk-navbar-center .uk-navbar-nav {
        flex-wrap: wrap;
        width: 70%
    }

    .uk-navbar-center .uk-navbar-nav li {
        width: 50%;
    }

    .uk-navbar-center .uk-navbar-nav li:last-child {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 880px)
{
    .uk-navbar-center .uk-navbar-nav {
        flex-wrap: wrap;
        width: 40%;
        margin-left: 28%;
    }

    .uk-navbar-right .uk-navbar-nav {
        flex-direction: column;
    }
}