{% extends 'base.html.twig' %}

{% block title %}Détails de {{ stagiaire.prenom }} {{ stagiaire.nom }}{% endblock %}

{% block body %}

{% for session in sessions %}
<p>{{ session.intitule }}</p>
{% endfor %}

{% endblock %}